html {
    font-size: 10px;
    background: url('./art/pawty_punchin.png') top center;
    background-size: cover; 
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.title {
    align-self: center;
    color: rgb(207, 17, 17);
    margin-top: 20px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
}

button {
    padding: 50px;
}

.score-table {
    font-size: 2.2rem;
    color: gold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border: 2px solid rgb(207, 17, 17);
    align-self: center;
    text-align: center;

}


.footer {
    display: flex;
    font-size: 2.2rem;
    color: gold;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
